<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string># This template is not designed to be used directly, but via the cla tab trigger in the ActionScript 3 bundle.</string>
	<key>extension</key>
	<string>as</string>
	<key>name</key>
	<string>Mediator</string>
	<key>uuid</key>
	<string>E31D6A8F-EA4F-40BD-979E-8443F76B2DD1</string>
</dict>
</plist>
